@model IEnumerable<PizzaBoxClient.Models.OrderHistory>

@{
    ViewData["Title"] = "ViewOrders";
    Layout = "_LayoutAfter";
}

<h1>ViewOrders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topping1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topping2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topping3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topping4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topping5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimePlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePlaced)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topping1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topping2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topping3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topping4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topping5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePlaced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePlaced)
            </td>
        </tr>
}
    </tbody>
</table>
